<!DOCTYPE html>
<html lang="en">
<head>
	<title>title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="noindex,nofollow" />
	
	<link href="/styles/bootstrap.css" rel="stylesheet" media="screen" />
	<link href="/styles/style.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="/js/jq.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/report.js"></script>
	<script type="text/javascript" src="/js/query.js"></script>
	
	<!--script type="text/javascript" src="/js/main.js"></script-->
	
</head>

<body>
	<%- partial('../partials/header') %>
	<div style="height:30%;overflow: auto;">
		<h3 style="margin-left:20px;width:25%">Reports</h3>
		<section class="leftpanel">
			<div>Test States
		<hr></hr>
		<a  class="status getQuery" url="status=Halted"><i class="icon-pause"></i>Halted <span style="float:right" id="Halted"><%= showstatus.statusCounts.Halted %></span></a></br></br>
		<a  class="status getQuery" url="status=Completed"><i class="icon-check"></i>Completed <span style="float:right" id="Completed"><%= showstatus.statusCounts.Completed %></span></a></br></br>
		<a  class="status getQuery " url="status=Running"><i class="icon-refresh"></i>Running <span style="float:right" id="Running"><%= showstatus.statusCounts.Running %></span></a>
		</div>
		<hr></hr>
		<div>Test types
		<hr></hr>
		<a  class="status getQuery" url="test_type=ab">A/B Test</a></br></br>
		<a  class="status getQuery" url="test_type=systemMetrics">System Metrics Test</a></br></br>
		</div>
		</section>
	<section id="reportList" style="float:right;width:70%;height:30%">
    <table id = "reportTable" style="border:1px solid #d5d5d5;" "width=50% height=30% class="table table-striped" >
	
    <tr><th></th><th>Test Name <a  class="getQuery" url="sortField=name"><i class=<%= sortIcon %>></i></a></th><th>Status <a  class="getQuery" url="sortField=status"><i class="icon-chevron-up"></i></a></th><th>Test Type <a  class="getQuery" url="sortField=test_type"><i class="icon-chevron-up"></i></a></th><th>Description <a  class="getQuery" url="sortField=description"><i class="icon-chevron-up"></i></a></th><th>Date <a class="getQuery" url="sortField=date"><i class="icon-chevron-up"></i></a></th></tr>
        <% data.forEach(function(report)  {	%>
			<tr id=<%= 'reportTr'+report.id %> ><td><i class="<%=  showstatus[report.status].action %> trigger" ></i></td><td><a href=<%= report.path %> target=_blank><%= report.name %></a></td><td><%= report.status  %> <i class=<%= showstatus[report.status].status %>></i></td><td> <%= report.test_type %></td><td> <%= report.description %></td><td> <%= report.date %></td></tr>
		<% }); %>
    </table>
	</section>
	</div>
	<%- partial('../partials/footer') %>
</body>
</html>
